
<div class="row">
      <div class="col-md-6">
        
<p class="bg-warning p-2 mb-3 font-weight-bold">
  {{ isInEditMode ? "Update User" : "Add User" }}
</p>

        <div class="form-group">
            <label for="todoItem">TodoItem</label>
            <input type="text" class="form-control" #todoItem>
            <div class="mt-2">
                <button  *ngIf="!isInEditMode" 
                (click)="onTodoAdd()"
                mat-raised-button  class="w-100"  color="primary">Add Todo</button>
                <button  *ngIf="isInEditMode" mat-raised-button   class="w-100" color="primary">Update Todo</button>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-group" *ngIf="todosArr.length > 0 ; else  noTodos">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let todo of todosArr ; trackBy: trackByTodo">
                <strong>{{todo.todoItem.toUpperCase()}}</strong>
               <div>
                <button class="mr-2" mat-mini-fab color="primary" ><mat-icon>edit</mat-icon></button>
                <button 
                (click)="onRemove(todo.todoId)"
                mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
               </div>
            </li>
        </ul>
        <ng-template #noTodos>
          <p class="alert alert-info">No Todos Available</p>
        </ng-template>
      </div>
</div>